<!-- <app-recipe-item></app-recipe-item>
<div class="row" style="margin-left: 0px;">    
    <div class="row">
        <div class="col-xs-12">
          <app-recipe-item *ngFor="let recipeEl of recipes" [recipe]="recipeEl" (recipeSelected)="onRecipeSelected(recipeEl)"></app-recipe-item>
        </div>
    </div>
    <div class="col-xs-12" style="margin-left:0px;margin-top: 150px;">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div> -->
<!-- <app-shopping-list></app-shopping-list> -->