<nav class="navbar">
    <div class="container">
        <div>
            <a href="">Recipe Book</a> 
        </div>
        <div>
            <a href="/recipes">Recipes</a>             
        </div>
        <div >
            <a href="/shopping-list">Shopping-List</a>             
        </div>
        <div>
            <ul class="navbar-nav navbar-right">
                <li class="dropndown">
                    <a href="" class="dropdown-toggle" role="button">Manage<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="">Save Data</a></li>
                        <li><a href="">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>       
    </div>
</nav>
