<!-- <app-header (featureSelected)="onNavigate($event)"></app-header> -->
<router-outlet></router-outlet>

<!-- <app-testing></app-testing> -->
<!-- <app-header></app-header> -->
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <!-- <app-new-account (accountAdded)="onAccountAdded($event)"></app-new-account> -->
            <!-- <app-account *ngFor="let acc of accounts; let i=index"
            [account]="acc"
            [id]="i"
            (statusChange)="onStatusChange($event)"></app-account> -->
            <div class="col-xs-12">
                <a routerLink="/home2">Home</a>|
                <a [routerLink]="['user',1]">
                    User 1
                </a>
                |
                <a [routerLink]="['user',2]">
                    User 1
                </a>
            </div>
            <p *ngIf="userActivated">Activated!</p>
        </div>
    </div>
</div>