<div style="background-color: currentColor; width: 110%; height: 900px;">
<div>
  <h2 class="welcome">List of Users</h2>
</div>
<br />
<table class="table table-striped table-bordered" style="background-color:lightblue; width: 50%;margin-left: 20%;margin-top: 10%;">
  <thead class="thead-light">
      <tr class="row adjust-row-margin full-row">
          <th class="col-3">Id</th>
          <th class="col-3">Name</th>
          <th class="col-3">Model</th>
          <th class="col-3">Price</th>
      </tr>
  </thead>
  <tbody>        
      <tr *ngFor="let u of users" class="row adjust-row-margin full-row">
          <td class="col-3"> {{u.id}}</td>
          <td class="col-3"> {{u.name}}      
          </td>
          <td class="col-3"> {{u.model}}</td>
          <td class="col-3">  {{u.price}}</td>
      </tr>
  </tbody>
</table>
</div>