<div style="background-color: currentColor; width: 110%; height: 900px;">
<div>
    <h2 class="welcome">Welcome</h2>
</div>
<!-- <div>
<button class= 'btn btn-1'routerLink='/get-user'>Get Users</button>
</div> -->
<!-- <div>
<button class= 'btn btn-2'routerLink='/create-user'>Create User</button>
</div>
<div>
<button class= 'btn btn-3'routerLink='/delete-user'>Delete User</button>
</div> -->
<div class="row" style="margin-top: 5%;">
<button type="button" class="btn btn-lg btn-1 col-3" routerLink='/get-user'>Get Users</button>
</div>
<div class="row"style="margin-top:30px;">
<button type="button" class="btn btn-lg btn-2 col-3" routerLink='/create-user'>Create Users</button>
</div>
<div class="row"style="margin-top:30px;">
<button type="button" class="btn btn-lg btn-3 col-3" routerLink='/delete-user'>Delete Users</button>
</div>
</div>