
<div>
    <h2 class="welcome">Welcome</h2>
</div>
<!-- <div>
<button class= 'btn btn-1'routerLink='/get-user'>Get Users</button>
</div> -->
<!-- <div>
<button class= 'btn btn-2'routerLink='/create-user'>Create User</button>
</div>
<div>
<button class= 'btn btn-3'routerLink='/delete-user'>Delete User</button>
</div> -->
<button type="button" class="btn btn-lg btn-1" routerLink='/get-user'>Get Users</button>
<button type="button" class="btn btn-lg btn-2" routerLink='/create-user'>Create Users</button>
<button type="button" class="btn btn-lg btn-3" routerLink='/delete-user'>Delete Users</button>